@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bora comer Pizza!</h1>
        <div class="container">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.NA4jXNT-Y3hFR3zoWIf2NwHaFc?pid=ImgDet&rs=1" class="card-img-top" alt="Pizza Margarida">
                    <div class="card-body">
                        <h5 class="card-title">Margarida</h5>
                        <p class="card-text">Molho, muito queijo muçarela, tomate, azeitona e oregano.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/R.faea66c0e47e28455b00708bf1a2b72a?rik=03FdElv70N1K%2fQ&pid=ImgRaw&r=0" class="card-img-top" alt="Pizza Calabresa">
                    <div class="card-body">
                        <h5 class="card-title">Calabresa</h5>
                        <p class="card-text">Muita linguiça calabresa, cebola e azeitona.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.DsUOQiRIzY1TUmR40zXGVAHaE7?pid=ImgDet&rs=1" class="card-img-top" alt="Pizza Portuguesa">
                    <div class="card-body">
                        <h5 class="card-title">Portuguesa</h5>
                        <p class="card-text">Nao é Hot-Dog, mas tem de tudo e mais um pouco!</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

</div>
