@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
        <div class="container">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/R.9e0caa8628009f5bb525d1e09604fda9?rik=dI0nOfBy3ahp1w&riu=http%3a%2f%2fvitaitaliantours.com%2fwp-content%2fuploads%2f2016%2f03%2fNeapolitan-Pizza-Margherita.jpg&ehk=Rk%2bfgzpAHbGig6ZHOExH6bwW62dG29BR4XPCsHqKBSI%3d&risl=1&pid=ImgRaw&r=0" class="card-img-top" alt="Pizza Margherita">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">Somethig just for description.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/R.9e0caa8628009f5bb525d1e09604fda9?rik=dI0nOfBy3ahp1w&riu=http%3a%2f%2fvitaitaliantours.com%2fwp-content%2fuploads%2f2016%2f03%2fNeapolitan-Pizza-Margherita.jpg&ehk=Rk%2bfgzpAHbGig6ZHOExH6bwW62dG29BR4XPCsHqKBSI%3d&risl=1&pid=ImgRaw&r=0" class="card-img-top" alt="Pizza Margherita">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">Somethig just for description.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/R.9e0caa8628009f5bb525d1e09604fda9?rik=dI0nOfBy3ahp1w&riu=http%3a%2f%2fvitaitaliantours.com%2fwp-content%2fuploads%2f2016%2f03%2fNeapolitan-Pizza-Margherita.jpg&ehk=Rk%2bfgzpAHbGig6ZHOExH6bwW62dG29BR4XPCsHqKBSI%3d&risl=1&pid=ImgRaw&r=0" class="card-img-top" alt="Pizza Margherita">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">Somethig just for description.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

</div>
